/* Xmas edition  */
body {
	background: linear-gradient(#7290ab,#395165) center fixed
}

#extra1:before {
	display: block;
	content: '';
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(http://gdurl.com/dIoP);
	z-index: 99999999;
	pointer-events: none;
	-moz-animation: snowFront 20s linear infinite;
	-webkit-animation: snowFront 20s linear infinite;
	animation: snowFront 20s linear infinite;
	backface-visibility: hidden;
}

#extra1 span {
	display: block;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(http://gdurl.com/G5Vp),
	url(http://gdurl.com/m9Yz);
	z-index: -1;
	pointer-events: none;
	-moz-animation: snowBehind 20s linear infinite;
	-webkit-animation: snowBehind 20s linear infinite;
	animation: snowBehind 20s linear infinite;
	backface-visibility: hidden;
}

@-moz-keyframes snowFront {
	0% { background-position: 0 0; }
	100% { background-position: 500px 1000px; }
}
@-webkit-keyframes snowFront {
	0% { background-position: 0 0; }
	100% { background-position: 500px 1000px; }
}
@keyframes snowFront {
	0% { background-position: 0 0; }
	100% { background-position: 500px 1000px; }
}

@-moz-keyframes snowBehind {
	0% { background-position: 0 0, 0 0; }
	100% { background-position: 0 400px, 0 300px; }
}
@-webkit-keyframes snowBehind {
	0% { background-position: 0 0, 0 0; }
	100% { background-position: 0 400px, 0 300px; }
}
@keyframes snowBehind {
	0% { background-position: 0 0, 0 0; }
	100% { background-position: 0 400px, 0 300px; }
}