/*-----------------------------------------------------------------
--------------{  DB Modern Light Theme by TheYaXxE  }--------------
-------------------------------------------------------------------
///////////////////////////////////////////////////////////////////
// 															     //
//  Version:											  0.2.4  //
//	Created by:								 		   TheYaXxE  //
// 	Last change:									   16-09-18  //
//  Licensed to:								 DanishBits.org  //
// 															     //
// 	Description:											     //
// 	This theme include a fresh and modern design + brand new	 //
// 	userclass icons, emoticons and torrent icons.				 //
// 															     //
// 	All icons and emoticons are enabled by default, but the	     //
// 	torrent icons has to be enabled in your profile settings.    //
// 	The icons are called "Modern Color Icons"					 //
// 															     //
///////////////////////////////////////////////////////////////////
-------------------------------------------------------------------


-------------------------------------------------------------------
-------------------------{  Color Codes  }-------------------------
-------------------------------------------------------------------
///////////////////////////////////////////////////////////////////
// 															     //
// 	Background:					 						#F1F1F1  //
// 															     //
// 	Box header & menu:					 rgba(243,243,243,0.54)  //
// 	Box background:						  rgba(255,255,255,0.9)  //
// 	Box Table Hover Color:				   rgba(44,129,188,0.9)  //
//  Green:													  ?	 //
// 															     //
///////////////////////////////////////////////////////////////////
-------------------------------------------------------------------
------------------------------------------------------------------*


-------------------------------------------------------------------
----------------------{  Table of Contents  }----------------------
-------------------------------------------------------------------
///////////////////////////////////////////////////////////////////
// 															     //
//   1. Fonts --------------------------------------- l.     71  //
//   2. CSS Reset and Clearfix ---------------------- l.     77  //
//   3. CSS Animations ------------------------------ l.      ?  //
//   4. Global Styles ------------------------------- l.      ?  //
//   5. Body & Wrapper ------------------------------ l.      ?  //
//   6. Header Section ------------------------------ l.      ?  //
// 	    6.1. User Ratio ----------------------------- l.      ?  //
// 	    6.2. User Menu ------------------------------ l.      ?  //
// 	    6.3. Main Menu ------------------------------ l.      ?  //
//   7. Main Content -------------------------------- l.      ?  //
// 	    7.1. Boxes ---------------------------------- l.      ?  //
// 	    7.2. Torrent Table -------------------------- l.  	  ?  //
// 	    7.3. Forum Table ---------------------------- l.  	  ?  //
//   8. Sidebar Section ----------------------------- l.      ?  //
//	    8.1. Latest Forum Activity ------------------ l.      ?  //
//	    8.2. Popular Movies and Shows --------------- l.      ?  //
//	    8.3. Poll ----------------------------------- l.      ?  //
//   9. Footer Section ------------------------------ l.      ?  //
//  XX. Profile Site -------------------------------- l.      ?  //
//  XX. FancyBox ------------------------------------ l.      ?  //
//  XX. Emoticons / Smileys ------------------------- l.      ?  //
// 															     //
///////////////////////////////////////////////////////////////////
-------------------------------------------------------------------


/*-----------------------------------------------------------------
---------------------------{  1. Fonts  }--------------------------
-----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/*-----------------------------------------------------------------
------------------{  2. CSS Reset and Clearfix  }------------------
-----------------------------------------------------------------*/
* {
	box-sizing:								border-box;
	-webkit-box-sizing:						border-box;
	-moz-box-sizing:						border-box;
	-o-box-sizing:							border-box;
	-ms-box-sizing:							border-box;
}

html, body, h1, h2, h3, h4, h5, h6, span, p, a, ol, ul, li {
	border: 								0;
	font-size:								100%;
	font:									inherit;
	text-decoration:						none;
	list-style:								none;
	vertical-align:							baseline;
	padding:								0;
	margin:									0;
}

input, select, textarea, button, table, th, tr, td, hr, figure, figcaption {
	appearance:								none;
	-webkit-appearance:						none;
	-moz-appearance:						none;
	-o-appearance:							none;
	-ms-appearance:							none;
	resize:									none;
	border:									none;
	outline:								none;
	padding:								0;
	margin:									0;
}

table {
	border-collapse:						collapse;
	border-spacing:							0;
}

.clearfix:after {
	display:								block;
	content:								'';
	clear:									both;
}


/*-----------------------------------------------------------------
----------------------{  3. CSS Animations  }----------------------
-----------------------------------------------------------------*/
/* Animation Poll Bars */
@-webkit-keyframes poll_move {
	0% {
		width: 								0;
	}
	100% {
		width: 								100%;
	}
}
@-moz-keyframes poll_move {
	0% {
		width: 								0;
	}
	100% {
		width: 								100%;
	}
}
@keyframes poll_move {
	0% {
		width: 								0;
	}
	100% {
		width: 								100%;
	}
}

/* Show Modal Close Button */
@-webkit-keyframes modal_close_btn {
	0% {
		opacity:							0;
		transform: 							translate3d(0,-100%,0);
	}
	0%, 30% {
		opacity:							0;
	}
	100% {
		opacity: 							1;
		transform: 							translate3d(0,0,0);
	}
}
@-moz-keyframes modal_close_btn {
	0% {
		opacity:							0;
		transform: 							translate3d(0,-100%,0);
	}
	0%, 30% {
		opacity:							0;
	}
	100% {
		opacity: 							1;
		transform: 							translate3d(0,0,0);
	}
}
@keyframes modal_close_btn {
	0% {
		transform: 							translate3d(0,-100%,0);
	}
	0%, 30% {
		opacity:							0;
	}
	100% {
		opacity: 							1;
		transform: 							translate3d(0,0,0);
	}
}

/* Fade element out */
@-webkit-keyframes fadeOut {
	0% {
		opacity: 							1;
	}
	100% {
		opacity: 							0;
	}
}
@-moz-keyframes fadeOut {
	0% {
		opacity: 							1;
	}
	100% {
		opacity: 							0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 							1;
	}
	100% {
		opacity: 							0;
	}
}


/*-----------------------------------------------------------------
-----------------------{  4. Global Styles  }----------------------
-----------------------------------------------------------------*/
.hidden {
	display:								none;
}


/*-----------------------------------------------------------------
-----------------------{  5. Body & Wrapper  }---------------------
-----------------------------------------------------------------*/
body {
	background:								red;
	background-size: 						cover;
	font-family: 							"Open Sans", Helvetica, Arial, serif;
}